<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Hazzul Sign up</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6\
/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min\
.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.mi\
n.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.m\
in.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <!--<style>
        body        { padding-top:80px; }
    </style>-->
<link rel='shortcut icon' href='/images/Favicon.ico' type='image/x-icon'/ >
<link rel='stylesheet' href='/css/hazzulMain.css'>
</head>
<body>
<!--*******************************-->
<nav class="navbar-inverse navbar-default" style=" background: #262626;">
  <div class="container">
    <ul class="nav navbar-top" >
                <div class="navbar-header">
                        <button type="navbar-toggler" class="navbar-toggle coll\
apsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-\
controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
            <a class="navbar-brand myLogo" href="/" >
                <img src="/images/Logo1.jpg">
            </a>
        </div>
      <div class="collapse navbar-collapse" id="navbar">
<ul class="nav navbar-nav navbar-right">
                                <form class="navbar-form navbar-left" role="sea\
rch" action="/" method="get">
                                        <input type="text" name="search" id="search" type="text" class="search-query form-control" placeholder="êìíê" style="width: 500px; height: 40px;"/>
                                        <button id ="searchbutton" style=                                                    " border: none;                 
                                                background: #e1e4ea;            
                                                height: 40px;                   
                                                width: 40px;                    
                                                color: #4f5b66;                 
                                                border-radius: 5px;             
                                                font-size: 10pt; " class="icon"\><i class="fa fa-search"></i></button>
<div style ="width: 50px;height: auto; display:inline-block;"></div><!--       
<div style ="width: 20px;height: auto; display:inline-block;"></div>-->
<!--                                                                           
<button id="signupButton" style="height: 40px; width: 60px; border: none; color\
: #4f5b66; background: #e1e4ea; margin-right: 150px;">Sign up</button>-->
                                  <input type = "button" value="Sign in"id="loginButton" style= "height: 40px; width:60px;border: none; color: #4f5b66;background: #e1e4ea;margin-right:0px;" onclick="window.location = '/login';"</input>
<div style ="width: 25px;height: auto; display:inline-block;"></div>
<input type = "button" value = "Sign up" id="signupButton" style="height:40px;width:60px;border: none; color: #4f5b66;background: #e1e4ea;margin-right:0px;" \
onclick="window.location = '/signup';"</input>
                                </form>
                                <div class="navbar-form navbar-left" >
                                        <a href ="">
                                        <button style=
                                                " border: none; background: #222222;                                                                           
                                                height: 40px;                   
                                                width: 40px;                    
                                                color: #4f5b66;                 
                                                opacity: none;                  
                                                font-size: 20pt;" class="icon">
                                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                        </button></a>

                                        <button data-toggle="modal" data-target="#aboutModal" style=
                                                " border: none;                
                                                background: #222222;           
                                                height: 40px;                  
                                                width: 40px;                   
                                        color: #4f5b66;                        
                                                opacity: none;                 
                                                font-size: 20pt;" class="icon">
                                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                                        </button>
                                </div>
                        </ul>

                        <nav class="navbar-default nav-bottom" style="backgroun\d: #262626;">
                                <ul class="nav navbar-nav">
                                        <li><a href="#">íì ëìí</a></li>
                                        <li><a href="#">ìê ëìí</a></li>
          <li><a href="#">#Blogspot</a></li>
                                        <li><a href="#">#FMìëì</a></li>
                                        <li><a href="#">#DogDrip</a></li>
          <li><a href="#">#íëí</a></li>
          <li><a href="#">#ììêì</a></li>
          <li><a href="#">#ëìí í</a></li>
          <li><a href="#">#ëíìë</a></li>
          <li><a href="#">#ëêíì</a></li>
          <li><a href="#">#ììíì</a></li>

                                </ul>
                        </nav>
                </div>
    </ul>
  </div>
</nav>
<!--*******************************-->
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h1 style="color: #FFFFFF;"><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label style="color: #FFFFFF;">Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label style="color: #FFFFFF;">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p style="color: #FFFFFF;">Already have an account? <a href="/login">Login</a></p>
    <p style="color: #FFFFFF;">Or go to <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
