@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
    overflow: auto;
    padding-top :120px;
  }   

  html,body{
    background-color: #333333;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color: #333333;

  } 

  .thumbnail { background-color: #484848   ; float:center; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 160px;
   height: 210px;
   overflow: auto;
   margin: 20px;
 }

.thumbnail > img {
   width: 100px;
   height: 80px;
 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  overflow: auto;
    padding-top :20px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }


  .thumbnail { background-color: #484848   ; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 160px;
   height: 210px;
   overflow: auto;
   margin: 20px;
 }

.thumbnail > img {
   width: 100px;
   height: 80px;
 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }
}

@media (min-width: 1220px){
  

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
    overflow: auto;
    padding-top :0px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  


  .thumbnail { background-color: #484848   ; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 160px;
   height: 210px;
   overflow: auto;
   margin: 20px;
 }

.thumbnail > img {
   width: 100px;
   height: 80px;
 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }
  
}

h1 {
  color: rgb(102, 189, 221);
  font-size: 48px;
}
h5  {
  color: rgb(248,248,248) ;
}
h7 {
  color:rgb(248,248,248) ;
}

h2 {
  color:rgb(102, 189, 221);
}

p {
  color:rgb(102, 189, 221);
}
.btn.btn-circle { border-radius: 50px; color: rgb(255,255,255); position: relative;  padding: 4px 15px; margin:10px auto; }
.btn.btn-outline { background-color: transparent; }

} 