@media (min-width: 768px){

 html,body{
    background-color: #333333;
    height: auto;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
  #intro {
    color:rgb(240,248,255);
  font-weight: bold;
  }

  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 



  .thumbnail { background-color: #484848   ; float:center; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 260px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }

h1 a{
  color: rgb(102, 189, 221);
  font-size: 55px;
  font-family: Book Antiqua, serif;
  text-decoration: none;
}
h5  {
  color: rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
}
h7 {
  color:rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
}



.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 110%;
  padding: 10px;
  align: left;
  width: auto;
}


#search {
  width: 700px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

}



@media (min-width: 992px){
   
 html,body{
    background-color: #333333;
    height: auto;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
    #intro {
    color:rgb(240,248,255);
  font-weight: bold;
  }

  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 

  .thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 260px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }

 .text-center {
     font-size: 12px;
     margin: 2px;
      }


  h1 span{
  color: rgb(240,248,255);
  font-size: 75px;
  text-decoration: none;
  background-color: none;
}

h1 a {
  color:rgb(240,248,255);
  font-size: 85px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: none;
}
h5  {
  color: rgb(255, 255, 255) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}
h7 {
  color:rgb(255, 255, 255) ;
  font-family: Book Antiqua, serif;
  font-size:10px;

}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 110%;
  padding: 10px;
  align: left;
  width: auto;
}


#search {
  width: 700px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

}

@media (min-width: 400px){
html,body{
    background-color: #333333;
    height: auto;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
    #intro {
    color:rgb(240,248,255);
  font-weight: bold;
  }

  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 

  .thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }

  .affix-content{
    background-color:#333333;
  } 


   h1 span{
  color: rgb(240,248,255);
  font-size: 55px;
  text-decoration: none;
  background-color: none;
}

h1 a {
  color:rgb(240,248,255);
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: none;
}
h5  {
  color: rgb(255, 255, 255) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}
h7 {
  color:rgb(255, 255, 255) ;
  font-family: Book Antiqua, serif;
  font-size:10px;

}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 110%;
  padding: 10px;
  align: left;
  width: auto;
}


#search {
  width: 700px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

}

@media (max-width: 380px){
html,body{
    background-color: #333333;
    height: auto;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
  #intro {
    color:rgb(240,248,255);
  font-weight: bold;
  }
  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 

.thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 260px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }

   h1 span{
  color: rgb(240,248,255);
  font-size: 33px;
  text-decoration: none;
  background-color: none;
}

h1 a {
  color:rgb(240,248,255);
  font-size: 33px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: none;
}
h5  {
  color: rgb(255, 255, 255) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}
h7 {
  color:rgb(255, 255, 255) ;
  font-family: Book Antiqua, serif;
  font-size:9px;

}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 110%;
  padding: 10px;
  align: left;
  width: auto;
}


#search {
  width: 500px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

}

@media (min-width: 1220px){
  
    .affix-content{
      overflow: auto;
    padding-right: 30px;
    padding-left: 30px;
  }  

  .affix-content .container {
    width: 1220px;
    overflow: auto;
    padding-top :10px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }

 .thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 195px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }

 .text-center {
     font-size: 11px;
     margin: 0px;
      }
  .pagelayout{
     font-size: 22px;
     margin: 12px;
      }

h1 {
        text-align: center;
      }
h1 span{
  color: rgb(240,248,255);
  font-size: 75px;
  text-decoration: none;
  background-color: none;
}

h1 a {
  color:rgb(240,248,255);
  font-size: 85px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: none;
}
h5  {
  color: rgb(255, 255, 255) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}
h7 {
  color:rgb(255, 255, 255) ;
  font-family: Book Antiqua, serif;
  font-size:10px;

}

}

.thumbnail img {
    width: 100%;
}

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #000000 url("https://www.hkright.com/wp-content/uploads/up_arrow.png") no-repeat center 43%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 15px; 
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}

 .thumbnail:hover
{ 
  box-shadow: 0px 2px 5px -1px #fff;
  -moz-box-shadow: 0px 2px 5px -1px #ffffff;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
  border-bottom:2px solid #000000;
  border-left:2px solid #000000;
  border-right:2px solid #000000;
  border-top:2px solid #000000;
}

.thumbnailBest {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 15px; 
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}

 .thumbnailBest:hover
{ 
  box-shadow: 0px 2px 5px -1px #fff;
  -moz-box-shadow: 0px 2px 5px -1px #ffffff;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
  border-bottom:2px solid #000000;
  border-left:2px solid #000000;
  border-right:2px solid #000000;
  border-top:2px solid #000000;
}

.thumbnailHot {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 15px; 
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}

 .thumbnailHot:hover
{ 
  box-shadow: 0px 2px 5px -1px #fff;
  -moz-box-shadow: 0px 2px 5px -1px #ffffff;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
  border-bottom:2px solid #000000;
  border-left:2px solid #000000;
  border-right:2px solid #000000;
  border-top:2px solid #000000;
}

a.thumbnail:hover, a.thumbnail:focus {
    border-color: #ffffff;
    -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}
a.thumbnailHot:hover, a.thumbnailHot:focus {
    border-color: red;
    -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}

a.thumbnailBest:hover, a.thumbnailBest:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}

.thumbnailBest { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnailBest img {height:auto; width:100%; margin:10 auto; }

.thumbnailBest {
   width: 195px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnailBest > img {
   width: 198px;
   height: 172px;

 }

 .thumbnailHot { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnailHot img {height:auto; width:100%; margin:0 auto; }

.thumbnailHot {
   width: 195px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnailHot > img {
   width: 198px;
   height: 172px;

 }

