@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
    overflow: auto;
    padding-top :120px;
  }   

  html,body{
    background-color: #333333;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 

  .thumbnail { background-color: #484848   ; float:center; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 160px;
   height: 210px;
   overflow: auto;
   margin: 20px;
 }

.thumbnail > img {
   width: 100px;
   height: 80px;
 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }

h1 {
  color: rgb(102, 189, 221);
  font-size: 55px;
  font-family: Book Antiqua, serif;
}
h5  {
  color: rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
}
h7 {
  color:rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
}

h2 {
  color:rgb(102, 189, 221);
}
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  overflow: auto;
    padding-top :20px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }


  .thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 160px;
   height: 210px;
   overflow: auto;
   margin: 20px;
 }

.thumbnail > img {
   width: 100px;
   height: 80px;
 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }


h1 {
  color: rgb(102, 189, 221);
  font-size: 55px;
  font-family: Book Antiqua, serif;
}
h5  {
  color: rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
  
}
h7 {
  color:rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
}

h2 {
  color:rgb(102, 189, 221);
}
}


@media (min-width: 1220px){
  
  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1220px;
    overflow: auto;
    padding-top :0px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  


  .thumbnail { background-color: #484848   ; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 240px;
   overflow: auto;
   margin: 20px;
 }

.thumbnail > img {
   width: 140px;
   height: 100px;
 }

 .text-center {
     font-size: 12px;
     margin: 2px;
      }


h1 a {
  color: rgb(102, 189, 221);
  font-size: 55px;
  font-family: Book Antiqua, serif;
}
h5  {
  color: rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
  font-size:17px;
}
h7 {
  color:rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
}

h2 {
  color:rgb(102, 189, 221);
}
  
}

.btn.btn-circle { border-radius: 50px; color: rgb(255,255,255); position: relative;  padding: 4px 15px; margin:10px auto; }
.btn.btn-outline { background-color: transparent; }

.panel-table .panel-body{
  padding:0; 
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;

}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
 
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
  background-color:   rgb(96,96,96)  ; color: rgb(255,255,255);
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}
th {
  color:rgb(32,32,32)  ;
}
td {
  color:rgb(192,192,192) ;
}

