@media (min-width: 768px){

 html,body{
    background-color: #333333;
    height: auto;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
  #intro {
    color:rgb(240,248,255);
  font-weight: bold;
  }

  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 

  .thumbnail { background-color: #484848   ; float:center; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }

h1 a{
  color: rgb(102, 189, 221);
  font-size: 55px;
  font-family: Book Antiqua, serif;
  text-decoration: none;
}
h5  {
  color: rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
}
h7 {
  color:rgb(248,248,248) ;
  font-family: Book Antiqua, serif;
}

h2 {
  color:rgb(102, 189, 221);
}
}



@media (min-width: 992px){
   
 html,body{
    background-color: #333333;
    height: auto;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
    #intro {
    color:rgb(240,248,255);
  font-weight: bold;
  }

  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 

  .thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }

 .text-center {
     font-size: 12px;
     margin: 2px;
      }


  h1 span{
  color: rgb(240,248,255);
  font-size: 75px;
  text-decoration: none;
  background-color: none;
}

h1 a {
  color:rgb(240,248,255);
  font-size: 85px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: none;
}
h5  {
  color: rgb(255, 255, 255) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}
h7 {
  color:rgb(255, 255, 255) ;
  font-family: Book Antiqua, serif;
  font-size:10px;

}

h2 {
  color:rgb(102, 189, 221);
}
}

@media (min-width: 400px){
html,body{
    background-color: #333333;
    height: auto;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
    #intro {
    color:rgb(240,248,255);
  font-weight: bold;
  }

  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 

  .thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }

  .affix-content{
    background-color:#333333;
  } 


   h1 span{
  color: rgb(240,248,255);
  font-size: 55px;
  text-decoration: none;
  background-color: none;
}

h1 a {
  color:rgb(240,248,255);
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: none;
}
h5  {
  color: rgb(255, 255, 255) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}
h7 {
  color:rgb(255, 255, 255) ;
  font-family: Book Antiqua, serif;
  font-size:10px;

}

h2 {
  color:rgb(102, 189, 221);
}
}

@media (max-width: 380px){
html,body{
    background-color: #333333;
    height: auto;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  
  #intro {
    color:rgb(240,248,255);
  font-weight: bold;
  }
  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .affix-content{
    background-color:#333333;

  } 

.thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }


 .text-center {
     font-size: 12px;
     margin: 2px;
      }

   h1 span{
  color: rgb(240,248,255);
  font-size: 33px;
  text-decoration: none;
  background-color: none;
}

h1 a {
  color:rgb(240,248,255);
  font-size: 33px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: none;
}
h5  {
  color: rgb(255, 255, 255) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}
h7 {
  color:rgb(255, 255, 255) ;
  font-family: Book Antiqua, serif;
  font-size:9px;

}

h2 {
  color:rgb(102, 189, 221);
}
}

@media (min-width: 1220px){
  
    .affix-content{
      overflow: auto;
    padding-right: 30px;
    padding-left: 30px;
  }  

  .affix-content .container {
    width: 1220px;
    overflow: auto;
    padding-top :10px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }

 .thumbnail { background-color: #484848; float:left; padding : 1%; width:200px; height:auto; overflow: hidden; }
.thumbnail img {height:auto; width:100%; margin:10 auto; }

.thumbnail {
   width: 203px;
   height: 255px;
   overflow: auto;
   margin: 20px;
   border:1px solid #3f3f3f;
 }

.thumbnail > img {
   width: 198px;
   height: 172px;

 }

 .text-center {
     font-size: 11px;
     margin: 0px;
      }
  .pagelayout{
     font-size: 22px;
     margin: 12px;
      }

h1 {
        text-align: center;
      }
h1 span{
  color: rgb(240,248,255);
  font-size: 75px;
  text-decoration: none;
  background-color: none;
}

h1 a {
  color:rgb(240,248,255);
  font-size: 85px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: none;
}
h5  {
  color: rgb(255, 255, 255) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}
h7 {
  color:rgb(255, 255, 255) ;
  font-family: Book Antiqua, serif;
  font-size:10px;

}

h2 {
  color:rgb(102, 189, 221);
}  
}

.btn.btn-circle { border-radius: 50px; color: rgb(255,255,255); position: relative;  padding: 4px 15px; margin:10px auto; }
.btn.btn-outline { background-color: transparent; }

.panel-table .panel-body{
  padding:0; 
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;

}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
 
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
  background-color:   rgb(96,96,96)  ; color: rgb(255,255,255);
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.thumbnail img {
    width: 100%;
}

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #000000 url("https://www.hkright.com/wp-content/uploads/up_arrow.png") no-repeat center 43%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}