
  body {
    background-color: #333333;
  }

  h2 {
  color: rgb(102, 189, 221);
  font-weight: bold;
  font-size: 40px;
}
.panel .panel-body {
   background-color:#333333;
}
 .media{
    border-bottom: 1px dotted #ccc;
}
.btn.btn-circle { border-radius: 50px; color:rgb(102, 189, 221); position: relative;  padding: 4px 15px; margin:10px auto; }
.btn.btn-outline { background-color: transparent; }