
  body {
    background-color: #333333;
  }


  h2 , a{
  color:rgb(240,248,255);
  font-weight: bold;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.panel .panel-body {
   background-color:#333333;

}
.panel {
   border:2px solid #484848;
}

p {
  font-size : 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn.btn-circle { border-radius: 50px; color:rgb(255,255,255); position: relative;  padding: 4px 15px; margin:10px auto; }
.btn.btn-outline { background-color: transparent; }

.comment {
    overflow: hidden;
    *zoom: 1;
     margin: 0 0 1em;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
    
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 12px solid #e5e5e5;

    border-radius: 15px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #e5e5e5;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}​

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 130%;
  padding: 40px;
  width: auto;
}


#search {
  width: 700px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.navbar-brand {
  padding: 5px;
}
.navbar-brand>img {
  height: 110%;
  padding: 10px;
  align: left;
  width: auto;
}
