
  body {
    background-color: #333333;
  }

  h2 , a{
  color:rgb(240,248,255);
  font-weight: bold;
  font-size: 40px;
  font-family: Book Antiqua, serif;
}
.panel .panel-body {
   background-color:#333333;
}
 .media{
    border-bottom: 1px dotted #ccc;
}
.btn.btn-circle { border-radius: 50px; color:rgb(255,255,255); position: relative;  padding: 4px 15px; margin:10px auto; }
.btn.btn-outline { background-color: transparent; }