
  body {
    background-color: #333333;
  }


  h2 , a{
  color:rgb(240,248,255);
  font-weight: bold;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.panel .panel-body {
   background-color:#484848;

}
 .media {
  background-color:#484848;   
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#808080;
}
.panel {
   border:1px solid #484848;
}

p {
  font-size : 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn.btn-circle { border-radius: 50px; color:rgb(255,255,255); position: relative;  padding: 4px 15px; margin:10px auto; }
.btn.btn-outline { background-color: transparent; }


