<% for(var i = postModels.length-1; i > -1 ; i--) { %>
<div>
<%= postModels[i].title%>
<a href = "/postdelete/<%= postModels[i].id%>/delete">delete</a>
<%= postModels[i].video_url %>
<%= postModels[i].posted.toLocaleDateString() %>
               </div>
       <% }%>