<!-- views/drama.ejs -->
<!doctype html>
<html>
<head>
    <title>하즐 - 방영드라마</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="naver-site-verification" content="8672f68ec19974757430dcc41aa887462bd2a8c5"/>
    <meta name="google-site-verification" content="UFlAZBpLslwZH5RF8Z4WSu6fiCM-MXNzOvcLsyDh2_Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='keyword' content="하루, 즐거움, 짤, hazzul, 웃긴, 예능, 아는 형님, 드라마 ">
     <meta name="description" content="하루를 유쾌하게 보낼 수 있게 짤과 예능 드라마가 모여있는 플랫폼">

    
    <!--call the css file -->
    <link rel='stylesheet' href='/css/hazzulMain.css'>
</head>

<body>
  <div class="col-sm-12 col-md-12 affix-content">
    <div class="container">
      
    <header>
      <h1><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Hazzul <font size = "5"> & 드라마</font> </h1>
    </header></br>

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><font color ="#FFFFFF">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/about"><b>하즐 소개</b></a>
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/entertain"><b>예능/오락</b></a> 
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/drama"><b>방영 드라마</b></a>
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/enddrama"><b>종영 드라마</b></a>   
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav></br>
<div class="row">

                  <% if (currentPage !== 0) { %>
                  <form class ="thumbnail role="search" action="/drama" method="get" > 
                    <img class="img-responsive" src="http://img.kbs.co.kr/cms/drama/sun/behind/wallpaper/__icsFiles/afieldfile/2016/02/12/sun_pos_01_1024_1.jpg" alt="이미지 로딩중..."> 
                    <input type="hidden" name="search" class="form-control" value ="태양"> </br>
                    <div style="text-align:center">  
                      <h5>태양희 후예 </h5>
                      <button type="submit" class="btn btn-info" style= " text-align:center;">바로보기</button>
                   </div>
                  </form>
                  <% } %>

                  <% if (currentPage !== 0) { %>
                  <form class ="thumbnail role="search" action="/drama" method="get" >
                    <img class="img-responsive" src="http://img.lifestyler.co.kr/uploads/program/cheditor/2015/12/AC7MDCU5YIIHIKBT2YUC.jpg" alt="이미지 로딩중..."> 
                    <input type="hidden" name="search" class="form-control" value ="시그"> </br>
                    <div style="text-align:center">  
                      <h5>시그널</h5>
                      <button type="submit" class="btn btn-info" style= " text-align:center;">바로보기</button>
                   </div>
                  </form>
                  <% } %>

                  <% if (currentPage !== 0) { %>
                  <form class ="thumbnail role="search" action="/drama" method="get" >
                    <img class="img-responsive" src="http://img.lifestyler.co.kr/uploads/program/cheditor/2015/11/412DZFKKHOEM74E8PKQ6.jpg" alt="이미지 로딩중..."> 
                    <input type="hidden" name="search" class="form-control" value ="치즈"> </br>
                    <div style="text-align:center">  
                      <h5>치즈인더트랩</h5>
                      <button type="submit" class="btn btn-info" style= " text-align:center;">바로보기</button>
                   </div>
                  </form>
                  <% } %>

                   
                  <% if (currentPage !== 0) { %>
                  <form class ="thumbnail role="search" action="/drama" method="get" >
                    <img class="img-responsive" src="http://bbsimg.sbs.co.kr/photoviewer/rlagustlr/V2000008547/Img0404_20150916174957_1.jpg" alt="이미지 로딩중..."> 
                    <input type="hidden" name="search" class="form-control" value ="나르샤"> </br>
                    <div style="text-align:center">  
                      <h5>육룡의 나르샤</h5>
                      <button type="submit" class="btn btn-info" style= " text-align:center;">바로보기</button>
                   </div>
                  </form>
                  <% } %>

                  <% if (currentPage !== 0) { %>
                  <form class ="thumbnail role="search" action="/drama" method="get" >
                    <img class="img-responsive" src="https://attachment.namuwikiusercontent.com/nejoqn.JPG" alt="이미지 로딩중..."> 
                    <input type="hidden" name="search" class="form-control" value ="여왕"> </br>
                    <div style="text-align:center">  
                      <h5>내조의 여왕</h5>
                      <button type="submit" class="btn btn-info" style= " text-align:center;">바로보기</button>
                   </div>
                  </form>
                  <% } %>
                  
                  <% if (currentPage !== 0) { %>
                  <form class ="thumbnail role="search" action="/drama" method="get" >
                    <img class="img-responsive" src="http://img.imbc.com/imbc/afieldfile/2006/02/23/photo_l_23.jpg" alt="이미지 로딩중..."> 
                    <input type="hidden" name="search" class="form-control" value ="궁"> </br>
                    <div style="text-align:center">  
                      <h5>궁</h5>
                      <button type="submit" class="btn btn-info" style= " text-align:center;">바로보기</button>
                   </div>
                  </form>
                  <% } %>
          

                  <% for(var i = postModels.length; i > postModels.length  ; i--  ) { %>
                 <a class="thumbnail" href ="/enddrama/<%= postModels[i].id %>">

                <img class="img-responsive" src="<%= postModels[i].image_url %>" alt="이미지 로딩중..."></br>
                <div class="text-center">
                  <h5><%= postModels[i].title %></h5>
                </div>
            </a>
                  <% }%>