

<!-- views/usdrama.ejs -->
<!doctype html>
<html>
<head>
    <title>하즐 - 미드 E</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="naver-site-verification" content="8672f68ec19974757430dcc41aa887462bd2a8c5"/>
    <meta name="google-site-verification" content="UFlAZBpLslwZH5RF8Z4WSu6fiCM-MXNzOvcLsyDh2_Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='keyword' content="하루, 즐거움, 짤, hazzul, 웃긴, 예능, 아는 형님, 드라마, 미드 ">
    <meta name="description" content="E로 시작하는 미드">
     <meta property = "og:url" content ="http://www.hazzul.com/usdramaE">
    <meta property = "og:type" content ="website">
    <meta property = "og:site_name" content ="하즐">
     <link rel="shortcut icon" href="http://www.iconj.com/ico/h/s/hsldd203fl.ico" type="image/x-icon" />
    
    <!--call the css file -->
    <link rel='stylesheet' href='/css/hazzulMain.css'>
</head>

<body>
  <div class="col-sm-12 col-md-12 affix-content">
    <div class="container">
      
    <header>
      <h1><a href = "/"><span class="glyphicon glyphicon-th-list"></span></a><b>&nbsp;&nbsp;<a href = "/" style="text-decoration: none">H&nbsp;a&nbsp;z&nbsp;z&nbsp;u&nbsp;l <font size = "6"> & 미드 E </font></b> </h1>
    </header></br>

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><font color ="#FFFFFF">하즐 홈</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/about"><b>하즐 소개</b></a>
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/hazzulEng"><b>영어 짤</b> &nbsp;<span class="label label-success">New</span></a>
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/usdrama"><b>미드</b></a>   
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/entertain"><b>예능/오락</b></a> 
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/drama"><b>방영 드라마</b></a>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav></br>

      <div class="bs-example">
    <div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">미드</div>
    <div class="panel-body">
   <a href= "/usdrama"><font size ="4"> A<font></a> <a href ="/usdramaB"> B </a> <a href ="/usdramaC"> C </a> <a href ="/usdramaD"> D </a> 
    <a href ="/usdramaE"> E </a> <a href ="/usdramaF"> F </a> <a href ="/usdramaG"> G </a> 
    <a href ="/usdramaH"> H </a> <a href ="/usdramaS"> S </a> <a href ="/usdramaOthers"> 기타 </a>

    <h6><font color =" #000000">* 드라마 첫자에 해당하는 알파벳을 눌러주세요 Ex) Gossip Girl은 alphabet g를 클릭해주세요. </font> </h6>  

    </div>
    <!-- List group -->
    <div class="list-group">

 <% if (currentPage !== 0) { %>
    <a href="#demo" class="list-group-item" data-toggle="collapse">Endeavour</a>
  <div id="demo" class="collapse">
    <form role="search" action="/usdramaE" method="get" name='myform'>
    <input type="hidden" name="search" class="form-control" value ="Endeavour1">
      <a href="#" onclick='document.forms["myform"].submit(); return false;' class="list-group-item">Endeavour 시즌 1
      </a>
      </form>

      <form role="search" action="/usdramaE" method="get" name='myform1'>
    <input type="hidden" name="search" class="form-control" value ="인데버 시즌2">
      <a href="#" onclick='document.forms["myform1"].submit(); return false;' class="list-group-item">Endeavour 시즌 2
      </a>
      </form>
  </div>
<% }%>
  
 <% if (currentPage !== 0) { %>
   <a href="#demo1" class="list-group-item" data-toggle="collapse">Episode</a>
  <div id="demo1" class="collapse">
    <form role="search" action="/usdramaE" method="get" name='myform2'>
    <input type="hidden" name="search" class="form-control" value ="Episode1">
      <a href="#" onclick='document.forms["myform2"].submit(); return false;' class="list-group-item">Episode 시즌 1 <span class="label label-danger">Hot</span>
      </a>
      </form>

     <form role="search" action="/usdramaE" method="get" name='myform3'>
    <input type="hidden" name="search" class="form-control" value ="Episode2">
      <a href="#" onclick='document.forms["myform3"].submit(); return false;' class="list-group-item">Episode 시즌 2
      </a>
      </form>
  </div>
 <% }%>


<% if (currentPage !== 0) { %>
 <form role="search" action="/usdramaE" method="get" name='myform4'>
    <input type="hidden" name="search" class="form-control" value ="Alcatraz1">
      <a href="#" onclick='document.forms["myform4"].submit(); return false;' class="list-group-item">Escape from Alcatraz 시즌 1
      </a>
      </form>
<% } %>


      <% for(var i = 0; i < postModels.length ; i++  ) { %>
       <a class="list-group-item" href ="/usdramaE/<%= postModels[i].id %>"><%= postModels[i].title %> </a>
       <% }%>
    </div>
  </div>
</div>